@use "../../css/variables" as *;
@use "sass:color";

.main {
    flex: 1;

    .hero {
        text-align: center;
        padding: 60px 20px;
        background:
            linear-gradient(135deg, rgba(0, 0, 0, 0.3), $bg-color-main), 
            url('/assets/images/main-hero-background.gif');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        

        .wrapper {
            padding: 20px;
            border-radius: 8px;

            h1 {
                font-size: 36px;
                margin-bottom: 10px;
                color: #fff;
            }

            p {
                font-size: 20px;
                margin-bottom: 20px;
                color: #fff;
            }
        }

    }

    .benefits {
        @extend .default-container;
        @include mobile;

        .benefits-header {
            padding: 20px;

            h2 {
                text-align: center;
                font-size: 32px;
                margin-bottom: 20px;
                
            }

            p {
                font-size: 20px;
                line-height: 1.5;
                text-align: center;
            }
        }


        .benefits-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            margin-top: 30px;

            .benefit-item {
                @extend .shadowed-box;
                text-align: center;
                transition: transform 0.2s ease-in-out;
    
                &:hover {
                    transform: translateY(-5px);
                }
    
                h3 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
    
                p {
                    font-size: 18px;
                    line-height: 1.5;
                }
    
                ul {
                    list-style: disc;
                    padding-left: 40px;
                    font-size: 18px;
                    text-align: left;
    
                    li {
                        line-height: 1.5;
                    }
                }
            }
        }


        .cta {
            text-align: center;
            margin-top: 30px;
            padding: 20px;

            h3 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }
        }
    }

}




.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background: $bg-color-main;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .1s;

    &:hover {
        background-color: color.adjust($bg-color-main, $lightness: 10%);
    }
}